<!-- Cart -->
	<section class="cart bgwhite p-t-70 p-b-100">
		<div class="container">
			<!-- Cart item -->
			<div class="container-table-cart pos-relative">
				<div class="wrap-table-shopping-cart bgwhite">
					<table class="table-shopping-cart">
						<tr class="table-head">
							<th class="column-1"></th>
							<th class="column-2">Producto</th>
							<th class="column-3">Precio</th>
							<th class="column-4 p-l-70">Cantidad</th>
							<th class="column-5">Total</th>
						</tr>

						<tr class="table-row" *ngFor="let art of articulos; index as i;">
							<td class="column-1">
								<div class="cart-img-product b-rad-4 o-f-hidden" (click)="eliminar(art)">
										<img [src]="'http:localhost:3000/'+art.img" alt="IMG-PRODUCT">
									<!-- <img src="images/item-10.jpg" alt="IMG-PRODUCT"> -->
								</div>
							</td>
							<td class="column-2">{{ art.nombre }}</td>
							<td class="column-3"> {{ art.precio | currency:'MXN' }} </td>
							<!-- <td class="column-3"> {{ i }} </td> -->
							<td class="column-4">
								<div class="flex-w bo5 of-hidden w-size17">
									<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2" (click)="uno(i, -1)">
										<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
									</button>

									<input class="size8 m-text18 t-center num-product c"
									type="number" [(ngModel)]="art.cantidad" (change)="dos($event.target.value, i)" min="1" max="10">

									<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2" (click)="uno(i, 1)">
										<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
							</td>
							<td class="column-5">{{ art.precio * art.cantidad | currency:'MXN'}}</td>
						</tr>

						<!-- <tr class="table-row">
							<td class="column-1">
								<div class="cart-img-product b-rad-4 o-f-hidden">
									<img src="images/item-05.jpg" alt="IMG-PRODUCT">
								</div>
							</td>
							<td class="column-2">Mug Adventure</td>
							<td class="column-3">$16.00</td>
							<td class="column-4">
								<div class="flex-w bo5 of-hidden w-size17">
									<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
										<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
									</button>

									<input class="size8 m-text18 t-center num-product" type="number" name="num-product2" value="1">

									<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
										<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
							</td>
							<td class="column-5">$16.00</td>
						</tr> -->
					</table>
				</div>
			</div>

			<div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
				<div class="flex-w flex-m w-full-sm">
					<div class="size11 bo4 m-r-10">
						<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="coupon-code" placeholder="codigo cupon">
					</div>

					<div class="size12 trans-0-4 m-t-10 m-b-10 m-r-10">
						<!-- Button -->
						<button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" (click)="cupon()">
							Aplicar Cupon
						</button>
					</div>
				</div>

				<div class="size10 trans-0-4 m-t-10 m-b-10">
					<!-- Button -->
				</div>
			</div>

			<!-- Total -->
			<div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
				<h5 class="m-text20 p-b-24">
					Articulos
				</h5>

				<!--  -->
				<div class="flex-w flex-sb-m p-b-12">
					<!-- <span class="s-text18 w-size19 w-full-sm">
						Subtotal:
					</span> -->

					<!-- <span class="m-text21 w-size20 w-full-sm">
						{{ precioTotal }}
					</span> -->
				</div>

				<!--  -->
				

				<!--  -->
				<div class="flex-w flex-sb-m p-t-26 p-b-30">
					<span class="m-text22 w-size19 w-full-sm">
						Total:
					</span>

					<span class="m-text21 w-size20 w-full-sm">
						{{ precio | currency:'MXN' }}
					</span>
				</div>

				<div class="size15 trans-0-4">
					<!-- Button -->
					<button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" (click)="comprar()">
						Comprar
					</button>
				</div>
			</div>
		</div>
	</section>
	<div [class]="modal" tabindex="-1">
		<div class="swal-modal"><div class="swal-icon swal-icon--success">
		  <span class="swal-icon--success__line swal-icon--success__line--long"></span>
		  <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
	  
		  <div class="swal-icon--success__ring"></div>
		  <div class="swal-icon--success__hide-corners"></div>
		</div>
		<div class="swal-title">
		  <span> {{ tituloModal }} </span>
		</div>
		<div class="swal-text" style="">
		  <p>{{ bodyModal }}</p>
		</div>
		<div class="swal-footer">
		  <div class="swal-button-container">
		  <button class="swal-button swal-button--confirm" (click)="cerrarmodal()">OK</button>
		  <div class="swal-button__loader">
			<div></div>
			<div></div>
			<div></div>
		  </div>
		</div></div></div></div>