<!-- block2-labelsale -->
<!-- block2-labelnew -->
<!-- [ngClass]="'block2-labelnew': art.fecha < " -->
<!-- Title Page -->
<!-- <section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(images/heading-pages-02.jpg);">
  <h2 class="l-text2 t-center">
    Women
  </h2>
  <p class="m-text13 t-center">
    New Arrivals Women Collection 2018
  </p>
</section> -->


<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
        <div class="leftbar p-r-20 p-r-0-sm">
          <!--  -->
          <h4 class="m-text14 p-b-7">
            Categorias
          </h4>

          <ul class="p-b-54">
            <li class="p-t-4">
              <a [routerLink]="['/inicio/productos', 'todo']" (click)="getArticles('todo')" class="s-text13 active1">
                Todo
              </a>
            </li>

            <li class="p-t-4">
              <a [routerLink]="['/inicio/productos', 'm']" (click)="getArticles('m')" class="s-text13">
                Mujeres
              </a>
            </li>

            <li class="p-t-4">
              <a [routerLink]="['/inicio/productos', 'h']" (click)="getArticles('h')" class="s-text13">
                Hombres
              </a>
            </li>
          </ul>

          <!--  -->
          <h4 class="m-text14 p-b-32">
            Filtros
          </h4>

          <div class="filter-price p-t-22 p-b-50 bo3">
            <div class="m-text15 p-b-17">
              Precio
            </div>

            <div class="custom-slider">
              <!-- <div id="filter-bar"></div> -->

              <ng5-slider class="noUi-target noUi-ltr noUi-horizontal" (userChange)="valores()" [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
            </div>
            <!-- <div class="noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-origin" style="left: 0%;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="0.0" aria-valuetext="50.00" style="z-index: 5;"></div></div><div class="noUi-connect" style="left: 0%; right: 0%;"></div><div class="noUi-origin" style="left: 100%;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="100.0" aria-valuetext="200.00" style="z-index: 4;"></div></div></div></div> -->

            <div class="flex-sb-m flex-w p-t-16">
              <div class="w-size11">
                <!-- Button -->
                <button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
                  Filtro
                </button>
              </div>

              <div class="s-text3 p-t-10 p-b-10">
                Rango: $<span id="value-lower">{{ value }}</span> - $<span id="value-upper"> {{ highValue }} </span>
              </div>
            </div>
          </div>

          <div class="filter-color p-t-22 p-b-50 bo3">
            <div class="m-text15 p-b-12">
              Colores
            </div>

            <ul class="flex-w">
              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter1" type="checkbox" name="color-filter1">
                <label class="color-filter color-filter1" for="color-filter1"></label>
              </li>

              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter2" type="checkbox" name="color-filter2">
                <label class="color-filter color-filter2" for="color-filter2"></label>
              </li>

              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter3" type="checkbox" name="color-filter3">
                <label class="color-filter color-filter3" for="color-filter3"></label>
              </li>

              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter4" type="checkbox" name="color-filter4">
                <label class="color-filter color-filter4" for="color-filter4"></label>
              </li>

              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter5" type="checkbox" name="color-filter5">
                <label class="color-filter color-filter5" for="color-filter5"></label>
              </li>

              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter6" type="checkbox" name="color-filter6">
                <label class="color-filter color-filter6" for="color-filter6"></label>
              </li>

              <li class="m-r-10">
                <input class="checkbox-color-filter" id="color-filter7" type="checkbox" name="color-filter7">
                <label class="color-filter color-filter7" for="color-filter7"></label>
              </li>
            </ul>
          </div>

          <form [formGroup]="buscarForm" (ngSubmit)="updateNameForm()">
            <div class="search-product pos-relative bo4 of-hidden">
                <input class="s-text7 size6 p-l-23 p-r-50" type="text" formControlName="buscar" name="search-product" placeholder="Buscar Productos...">
                <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                  <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
          </form>
          <!-- {{ buscarForm.value | json }} -->
        </div>
      </div>

      <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
        <!--  -->
        <div class="flex-sb-m flex-w p-b-35">
          <div class="flex-w">
            <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
              <select class="selection-2" name="sorting" (change)="buscar($event.target.value)">
                <option>buscar por</option>
                <option value="1">Popularida</option>
                <option value="2">Precio: bajo a alto</option>
                <option value="3">Precio: alto a bajo</option>
              </select>
            </div>

            <!-- <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
              <select class="selection-2" name="sorting" (change)="buscarPorPrecio($event.target.value)">
                <option>Precio</option>
                <option value="0 50">$0.00 - $50.00</option>
                <option value="50 100">$50.00 - $100.00</option>
                <option value="100 150">$100.00 - $150.00</option>
                <option value="150 200">$150.00 - $200.00</option>
                <option value="200">$200.00+</option>

              </select>
            </div> -->
          </div>

          <span class="s-text8 p-t-5 p-b-5">
            mostrando {{ inicio }}–{{ math() }} de {{total}} articulos
          </span>
        </div>

        <!-- Product -->
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 p-b-50" *ngFor="let art of articulos | paginate: { itemsPerPage: 12, currentPage: p, totalItems: total }">
            <!-- Block2 -->
            <div class="block2">
              <div class="block2-img wrap-pic-w of-hidden pos-relative" [ngClass]="{'block2-labelsale': art.descuento, 'block2-labelnew':compararNew(art.fecha)}">
                <img [src]="'http://localhost:3000/' + art.img" alt="IMG-PRODUCT">

                <div class="block2-overlay trans-0-4">
                  <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                    <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                    <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                  </a>

                  <div class="block2-btn-addcart w-size1 trans-0-4">
                    <!-- Button -->
                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="agregarCarro(art)">
                      Agregar
                    </button>
                  </div>
                </div>
              </div>

              <div class="block2-txt p-t-20">
                <a [routerLink]="['/inicio/producto-detail', art._id]" class="block2-name dis-block s-text3 p-b-5">
                  {{ art.nombre }}
                </a>
                <span class="block2-oldprice m-text7 p-r-5" *ngIf="art.descuento">
                  {{ art.precio | currency:'MXN'}}
                </span>

                <span class="block2-newprice m-text8 p-r-5" *ngIf="art.descuento">
                  {{ art.precio - (art.precio * art.descuento) / 100 | currency:'MXN' }}
                </span>

                <span class="block2-newprice m-text8 p-r-5" *ngIf="!art.descuento">
                  {{ art.precio | currency:'MXN' }}
                </span>

              </div>
            </div>
          </div>
        </div>

        <!-- Pagination -->
        <div class="pagination flex-m flex-w p-t-26">
            <pagination-controls  
            (pageChange)="pageChanged($event)"
            autoHide="true"
            responsive="true"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            >
          </pagination-controls>
          <!-- <a class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
          <a class="item-pagination flex-c-m trans-0-4">2</a> -->
        </div>
      </div>
    </div>
  </div>
</section>