::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #ffe4d1;
      height: 2px;
  //     background-color: #c5c5c5;
  // border: none;
  // box-shadow: none;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: orange;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      // width: 8px;
      // height: 16px;
      // top: auto; /* to remove the default positioning */
      // bottom: 0;
      // background-color: #333;
      // border-top-left-radius: 3px;
      // border-top-right-radius: 3px;
      width: 13px;
      height: 13px;
      left: -6px;
      top: -5px;
      border: none;
      border-radius: 50%;
      background: #999999;
      cursor: pointer;
      box-shadow: none;
      outline: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: orange;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: orange;
    }
  }


  .leftbar #filter-bar {
    margin-right: 6px;
    margin-left: 6px;
    height: 4px;
    border: none;
    background-color: #e1e1e1;
  }
  .leftbar #filter-bar .noUi-connect {
    background-color: #c5c5c5;
    border: none;
    box-shadow: none;
  }
  .leftbar #filter-bar .noUi-handle {
    width: 13px;
    height: 13px;
    left: -6px;
    top: -5px;
    border: none;
    border-radius: 50%;
    background: #999999;
    cursor: pointer;
    box-shadow: none;
    outline: none;
  }
  .leftbar #filter-bar .noUi-handle:before {
    display: none;
  }
  .leftbar #filter-bar .noUi-handle:after {
    display: none;
  }