<div class="container">
  <div class="row">
    <div class="col-sm-12 offset-8">
      <table class="table table-hover" *ngIf="articulos.length >= 1">
        <thead>
          <tr>
            <th>nombre</th>
            <th>tipo</th>
            <th>T-Articulo</th>
            <th>acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let art of articulos | paginate: { itemsPerPage: 12, currentPage: p, totalItems: total }">
            <td> {{ art.nombre }} </td>
            <td> {{ art.tipo }} </td>
            <td> {{ art.cantidadTotal }} </td>
            <td> <button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4" (click)="editar(art._id)" >editar</button>
              <button (click)="abrirModal(art)" class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4 my-2">
                eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination -->
      <div class="pagination flex-m flex-w p-t-26">
        <pagination-controls  
        (pageChange)="pageChanged($event)"
        autoHide="true"
        responsive="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page">
      </pagination-controls>
    </div>
  </div>
</div>
<div [class]="modal" tabindex="-1">
  <div class="swal-modal"><div class="swal-icon swal-icon--success">
    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

    <div class="swal-icon--success__ring"></div>
    <div class="swal-icon--success__hide-corners"></div>
  </div>
  <div class="swal-title">
    <span> {{ tituloModal }} </span>
  </div>
  <div class="swal-text">
    <p>{{ cuerpoModal }} {{ nombre }}</p>
  </div>
  <div class="swal-footer">
    <div class="swal-button-container">
      <button class="swal-button swal-button--confirm mx-2" (click)="cerrarmodal(false)">{{ botonModal }}</button>
    <button class="swal-button swal-button--confirm" (click)="cerrarmodal(true)" *ngIf="mostrarBotones"> eliminar </button>
    <div class="swal-button__loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div></div></div></div>