


<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
  <div class="container">
    <div class="sec-title p-b-60">
      <h3 class="m-text5 t-center">
        productos nuevos
      </h3>
    </div>

    <!-- Slide2 -->
    <!-- va alg aqui -->
    <div class="wrap-slick2">
      <div class="slick2">

        <div class="item-slick2 p-l-15 p-r-15" *ngFor="let art of articulos">
            <!-- <div class="item-slick2 p-l-15 p-r-15"> -->
          <!-- Block2 -->
          <div class="block2">
            <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
              <img [src]="art.img | imagen" alt="IMG-PRODUCT">
              <!-- <img src="src/assets/images/item-02.jpg" alt="IMG-PRODUCT"> -->

              <div class="block2-overlay trans-0-4">
                <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                  <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                  <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                </a>

                <div class="block2-btn-addcart w-size1 trans-0-4">
                  <!-- Button -->
                  <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="agregarCarrito(art)">
                    Comprar
                  </button>
                </div>
              </div>
            </div>

            <div class="block2-txt p-t-20">
              <a [routerLink]="['/inicio/producto-detail/', art._id]" class="block2-name dis-block s-text3 p-b-5">
                {{ art.nombre }}
              </a>

              <span class="block2-oldprice m-text7 p-r-5">
                $29.50
              </span>
              <span class="block2-newprice m-text8 p-r-5">
									$15.90
								</span>
              <span class="block2-price m-text6 p-r-5">
                {{ art.precio |currency:'MXN' }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div [class]="modal" tabindex="-1">
  <div class="swal-modal"><div class="swal-icon swal-icon--success">
    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

    <div class="swal-icon--success__ring"></div>
    <div class="swal-icon--success__hide-corners"></div>
  </div>
  <div class="swal-title" style="">
    <span *ngIf="nombre"> {{ nombre }} </span>
  </div>
  <div class="swal-text" style="">
    <p>se agrego al carrito</p>
  </div>
  <div class="swal-footer">
    <div class="swal-button-container">
    <button class="swal-button swal-button--confirm" (click)="cerrarmodal()">OK</button>
    <div class="swal-button__loader">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div></div></div></div>