<div class="container">
  <form [formGroup]="articuloForm" ngSubmit="enviar()">
      <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <label>nombre</label>
      <input class="form-control" formControlName="nombre" placeholder="nombre">
      <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label >tipo</label>
      <input class="form-control" formControlName="tipo" placeholder="tipo">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label >cantidad</label>
      <input class="form-control" type="number" formControlName="cantidadTotal" placeholder="cantidad Total">
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label >precio</label>
      <input class="form-control" type="number" formControlName="precio" placeholder="Precio Producto">
      <!-- <div class="invalid-feedback">Please choose a username.</div> -->
      <small *ngIf=" articuloForm.controls['precio'].errors  " class="form-text text-muted">El precio debe ser mayor a 100</small>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label>descuento</label>
      <input class="form-control" type="number" formControlName="descuento" placeholder="Descuento">
      <small class="invalid-feedback">Please choose a username.</small>
      <!-- <small *ngIf=" articuloForm.controls['descuento'].errors  " class="form-text text-danger text-muted">El descuento debe ser menor a 100</small> -->
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <label>genero</label>
      <input class="form-control" type="number" formControlName="genero" placeholder="Descuento">
    </div>
    <!-- <button type="submit" [disabled]="!articuloForm.valid" (click)="enviar()" class="btn btn-primary offset-6">enviar</button> -->
      <button class="swal-button swal-button--confirm mx-2" (click)="regresar()"> cancelar </button>
      <button class="swal-button swal-button--confirm" [disabled]="!articuloForm.valid" (click)="enviar()"> enviar </button>
      </div>
  </form>
  <form enctype="multipart/form-data" class="mt-4">
    <input name="imagen" type="file" (change)="archivos($event.target.files)" multiple />
  </form>
  <!-- {{ articuloForm.value | json }}
  <br>
  {{ 'valido:' + articuloForm.valid }}
  <br>
  {{ 'invalido:' + articuloForm.invalid }}
  <br>
  {{ 'status:' + articuloForm.status }}
  <br>
  {{ 'tocado:' + articuloForm.dirty }}
  <br>
  {{ 'pending:' + articuloForm.pending }}
  <br>
  {{ 'disabled:' + articuloForm.disabled }}
  <br>
  {{ 'enabled:' + articuloForm.enabled }}
  <br>
  {{ 'errors:' + articuloForm.errors }}
  <br>
  {{ 'touched:' + articuloForm.touched }}
  <br>
  {{ 'pristine:' + articuloForm.pristine }} -->
</div>

<!-- valid: boolean | null -->
<!-- invalid: boolean | null -->
<!-- pending: boolean | null -->
<!-- disabled: boolean | null -->
<!-- enabled: boolean | null -->
<!-- errors: ValidationErrors | null -->
<!-- pristine: boolean | null -->
<!-- dirty: boolean | null -->
<!-- touched: boolean | null -->
<!-- status: string | null -->
<div [class]="modal" tabindex="-1">
    <div class="swal-modal"><div class="swal-icon swal-icon--success">
      <span class="swal-icon--success__line swal-icon--success__line--long"></span>
      <span class="swal-icon--success__line swal-icon--success__line--tip"></span>
  
      <div class="swal-icon--success__ring"></div>
      <div class="swal-icon--success__hide-corners"></div>
    </div>
    <div class="swal-title">
      <span> {{ tituloModal }} </span>
    </div>
    <div class="swal-text">
      <p>{{ cuerpoModal }} {{ nombre }}</p>
    </div>
    <div class="swal-footer">
      <div class="swal-button-container">
        <button class="swal-button swal-button--confirm mx-2" (click)="cerrarmodal(false)">{{ botonModal }}</button>
      <button class="swal-button swal-button--confirm" (click)="cerrarmodal(true)" *ngIf="mostrarBotones"> eliminar </button>
      <div class="swal-button__loader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div></div></div></div>