<section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
        <ngu-tile *nguCarouselDef="let item; let i = index" class="item-slick1 item1-slick1">
            <ngu-carousel #myCarousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad(i)" [dataSource]="carouselTiles[i]">
              <ngu-tile *nguCarouselDef="let item; let j = index">
                <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 550px">
                </div>
              </ngu-tile>
              <button class="arrow-slick1 prev-slick1 slick-arrow" NguCarouselPrev [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
              <button class="arrow-slick1 next-slick1 slick-arrow" NguCarouselNext [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button>
              <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
              <ul class="myPoint" NguCarouselPoint>
                <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"
                  [style.background]="'url(' + carouselTileItems[j] + ')'">
                </li>
              </ul>
            </div>
            </ngu-carousel>
          </ngu-tile>
      </ngu-carousel>
    </div>
  </div>
</section>







































<!-- 
<div class="otro">
  <section class="slide1">
    <div class="wrap-slick1">
      <div class="slick1">
  <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
  <ngu-tile *nguCarouselDef="let item; let i = index">
    <ngu-carousel #myCarousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad(i)" [dataSource]="carouselTiles[i]">
      <ngu-tile *nguCarouselDef="let item; let j = index">
        <div class="" [style.background]="'url(' + item + ')'" style="min-height: 350px">
          <h1>{{j}}</h1>
        </div>
      </ngu-tile>
      <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5:1">&lt;</button>
      <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5:1">&gt;</button> -->
      <!-- aqui modifique -->
      <!-- <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"
          [style.background]="'url(' + carouselTileItems[j] + ')'"></li>
      </ul>
    </ngu-carousel>
  </ngu-tile>
  </ngu-carousel>
  </div>
  </div>
  </section>
</div> -->



<!-- <section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1 item1-slick1" style="background-image: url(src/assets/images/2.png);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
            Women Collection 2018
          </span>

          <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
            New arrivals
          </h2>

          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn"> -->
            <!-- Button -->
            <!-- <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
              Shop Now
            </a>
          </div>
        </div>
      </div>

      <div class="item-slick1 item2-slick1" style="background-image: url(src/assets/images/5.png);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
            Women Collection 2018
          </span>

          <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
            New arrivals
          </h2>

          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp"> -->
            <!-- Button -->
            <!-- <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
              Shop Now
            </a>
          </div>
        </div>
      </div>

      <div class="item-slick1 item3-slick1" style="background-image: url(src/assets/images/3.png);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          boton
          <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
            Women Collection 2018
          </span>

          <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
            New arrivals
          </h2>

          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn"> -->
            <!-- Button -->
            <!-- <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
              Shop Now
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->

<!-- <button class="arrow-slick1 next-slick1 slick-arrow" style=""><i class="fa  fa-angle-right" aria-hidden="true"></i></button> -->
<!-- <button class="arrow-slick1 prev-slick1 slick-arrow" style=""><i class="fa  fa-angle-left" aria-hidden="true"></i></button> -->





<!-- <section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1 item1-slick1" style="background-image: url(src/assets/images/2.png);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn"> -->
          <!--</div>
        </div>
      </div>

      <div class="item-slick1 item2-slick1" style="background-image: url(src/assets/images/5.png);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
            Women Collection 2018
          </span>

          <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
            New arrivals
          </h2>

          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp"> -->
            <!-- Button -->
            <!-- <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
              Shop Now
            </a>
          </div>
        </div>
      </div>

      <div class="item-slick1 item3-slick1" style="background-image: url(src/assets/images/3.png);">
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
          boton
          <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
            Women Collection 2018
          </span>

          <h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
            New arrivals
          </h2>

          <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn"> -->
            <!-- Button -->
            <!-- <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
              Shop Now
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->